.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    font-family: "PT Serif", serif;
    font-size: 5em;
    margin: 0.25em 0;
    color: #3d0082;
}

h2 {
    font-family: "PT Serif", serif;
    font-size: 2em;
    color: rgb(140, 20, 20);
    margin-top: 0;
}

h3 {
    font-size: 1.2em;
    color: #d27305;
    margin-top: 0;
}

#description-carte {
    font-size: 1.5em;
    color: #3d0082;
    margin-top: 10px;
}

.choix-couleur {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border: 2px solid #3d0082;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choix-couleur label {
    margin-right: 5px;
    color: #3d0082;
}

.map {
    width: 80vmin;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(var(--colonnes), 1fr);
    grid-template-rows: repeat(var(--lignes), 1fr);
}

.pixel {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.mention-legale {
    align-self: flex-start;
    margin: 40px 0 20px 20px;
    font-size: 0.5em;
    color: rgb(38, 38, 38);
}

.reseaux-sociaux {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(44, 44, 44, 0.8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}

.reseaux-sociaux span {
    color: white;
    font-size: 0.8em;
    display: block;
    margin-bottom: 5px;
}

.reseaux-sociaux a {
    text-decoration: none;
}

.logo-reseaux-sociaux {
    width: 34px;
    height: 34px;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.logo-reseaux-sociaux:hover {
    transform: scale(1.2);
}